<div class="comment">
  <p>
    <strong> <%= comment.user.name %> </strong>
    <%= comment.body %>
  </p>

  <% if comment.user == current_user || current_user.try(:admin?) %>
    <%= link_to '✖', [comment.pic, comment], method: :delete,
                    data: { confirm: 'R u sure?' } %>
  <% end %>
</div>
