.row
  .col-md-6.col-md-offset-3
    .box.panel.panel.default
      .panel-heading
        %h1 Edit Pic
      .panel-body
        = image_tag @pic.image, class: 'img-responsive'
        = render 'form'
        %br/
        = link_to 'Cancel', @pic, class: 'btn btn-danger'
