* {
  color: #2F4F4F;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border-radius: 46px;
  border: solid #aaa1c9 1px;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-size: 28px;
  a {
    text-decoration: none; 
  }
}

.padding {
  padding: 10px;
}

.allert {
  display: flex;
  height: 30px;
  margin: 10px 0px 30px 0px;
  background-color: #ff2841;
  color: #fcf2ff;
  justify-content: center;
  align-items: center;
}

.notice {
  display: flex;
  height: 30px;
  margin: 10px 0px 30px 0px;
  background-color: #5dd7a3;
  justify-content: center;
  align-items: center;
}

.box {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 7px 25px -10px rgba(67,70,71,1);
}

.nav-group {
  display: flex;
  justify-content: space-between;
}

.likes {
  float: right;
  a {
   text-decoration: none;
  }
}

.comments {
  padding: 20px;
}

.comment {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.center-text {
  text-align: center;
}

#user {
  padding: 10px 40px;
  box-shadow: 0px 7px 25px -10px rgba(67,70,71,1);
  border-bottom: solid #aaa1c9 6px;
  a {
    text-decoration: none;
  }
}

#errors {
  margin-left: 10px;
  li {
    margin-left: 30px;
  }
}

#edit_page {
  
}